# Python_Class_Dtypes_003

Datatypes | Ordered | Changeable | Unique / Not
-|-|-|-
List | Ordered | changeable | Allow Duplicates
Tuple | Ordered | Unchangeable | Allow Duplicates
Set | Unordered | Unchangeable | Not Allow Duplicates
Dictionary | Ordered | changeable | Not Allow Duplicates

## String Methods

String datatype is immutable entity - can't change with other values   # Item assignment is not possible     
**press TAB after (variable.)**  
A single element is a str.  
Multple elements is a tuple

In [ ]:
s = "krishna lohith"
s2 = "krishna lohith" ,'mothukuri'
i = 2
i2 = 2,3,4,5,6
print(type(s))
print(type(s2))
print(type(i))
print(type(i2))

### Indexing   - Accessing each string
starts from 0 to positive in right direction  
starts from -1 to negative in left direction  

n[start:stop:step]  
 0 1 2 3 4 5 6  
 k r i s h n a  
-7-6-5-4-3-2-1

In [ ]:
print(len(s))
print(s[0])
print(s[-1])
#print(n[100])  #error

In [ ]:
# Item assignment is not possible
#s1[0] = 'k'

In [ ]:
# Iterations for loop and while loops 
for i in s:
    print(i)

### Modify Strings

In [ ]:
s = "krishna LOHITH"
#s.split()   #if split is used then list will created
print('Upper case:- ',s.upper())
print('Lower case:- ',s.lower())
print('Replaced:-   ',s.replace('k','p'))
print('Title:-      ',n.title())    #capital of first letters of words  
print('Capitalize:- ',n.capitalize())   #capitals of first letter in first word

In [ ]:
p = "krishna LOHITH"
print('Swapcase:- ',p.swapcase())

In [ ]:
# Check (in and not in)
'lohith' in s2

In [ ]:
#concatination (only strings)
s1 = 'lohith'
print(s1, type(s1))
s2 = 'krishna '+ 'lohith'   # string + string 
print(s2, type(s2))
s3 = "krishna " * 10    # string * n   - multiplication
print(s3, type(s3))

In [ ]:
# format
s1 = 'krishna '
s2 = 'lohith'
age = 24
print('my name is ',s1 + s2 + " Mothukuri")
#print(s1 + s2 + " Mothukuri" + age)
print(f'My first name is {s1} and second name is {s2} and age is {age} ')

### String Slicing   -  Accessing Multiple strings
use [:] to get all values

In [ ]:
n = 'krishna Lohith@gmail'
print(len(n))   # length - 20
print(n[:])     # whole string
print(n[:4])    # starts from 0 till 4(not include 4).
print(n[2:])    # starts from 2 to end
print(n[:100])   # string goes till 100. so 20 is inside 100 it gives till 20
print(n[0:100]) # starts from 0 and goes to 100 
print(n[-3:6])  # blank bcoz it has positive step 

#Positive step
print(n[3:10:1])
print(n[3:-10:1])
print(n[-3:10:1])   #blank - opposite direction
print(n[-10:3:1])
print(n[-3:-10:1])  #blank - opposite direction
print(n[-10:-3:1])

#Negative step
print(n[3:10:-1])     #blank - opposite direction
print(n[3:-10:-1])    #blank - opposite direction
print(n[-3:10:-1])     #blank
print(n[-3:-10:-1])
print(n[-1:20])
print(n[0:-21:-1])
print(n[-18:-8])

In [ ]:
# Gives first occured index
n ='krishna lohith' 
print(type(n))
print(n.find('i'))
print(n.find('na'))
print(n.find('z'))  # if not found then returns -1
n.count('i')   #counts occurences in the strings

In [ ]:
# creats a list converts into list
p = n.split()   
print(p)
print(p[1])
print(p[1][0])

In [ ]:
a = 'krishna'
b ='lohith'
a.join(b)
" ".join(b)

In [ ]:
x = '   krishna lohith   '
print(x.rstrip())
print(t.lstrip())
print(x.replace('h','p'))

### String Methods

Method	|	Description  
 - | -
capitalize()	|	Converts the first character to upper case  
casefold()	|	Converts string into lower case  
center()	|	Returns a centered string  
count()	|	Returns the number of times a specified value occurs in a string  
encode()	|	Returns an encoded version of the string  
endswith()	|	Returns true if the string ends with the specified value  
expandtabs()	|	Sets the tab size of the string  
find()	|	Searches the string for a specified value and returns the position of where it was found  
format()	|	Formats specified values in a string    
format_map()	|	Formats specified values in a string  
index()	|	Searches the string for a specified value and returns the position of where it was found  
isalnum()	|	Returns True if all characters in the string are alphanumeric  
isalpha()	|	Returns True if all characters in the string are in the alphabet  
isdecimal()	|	Returns True if all characters in the string are decimals  
isdigit()	|	Returns True if all characters in the string are digits  
isidentifier()	|	Returns True if the string is an identifier  
islower()	|	Returns True if all characters in the string are lower case  
isnumeric()	|	Returns True if all characters in the string are numeric  
isprintable()	|	Returns True if all characters in the string are printable  
isspace()	|	Returns True if all characters in the string are whitespaces  
istitle()	|	Returns True if the string follows the rules of a title  
isupper()	|	Returns True if all characters in the string are upper case  
join()	|	Joins the elements of an iterable to the end of the string   
ljust()	|	Returns a left justified version of the string   
lower()	|	Converts a string into lower case   
lstrip()	|	Returns a left trim version of the string   
maketrans()	|	Returns a translation table to be used in translations   
partition()	|	Returns a tuple where the string is parted into three parts   
replace()	|	Returns a string where a specified value is replaced with a specified value  
rfind()	|	Searches the string for a specified value and returns the last position of where it was found  
rindex()	|	Searches the string for a specified value and returns the last position of where it was found   
rjust()	|	Returns a right justified version of the string   
rpartition()	|	Returns a tuple where the string is parted into three parts  
rsplit()	|	Splits the string at the specified separator, and returns a list   
rstrip()	|	Returns a right trim version of the string   
split()	|	Splits the string at the specified separator, and returns a list  
splitlines()	|	Splits the string at line breaks and returns a list  
startswith()	|	Returns true if the string starts with the specified value  
strip()	|	Returns a trimmed version of the string  
swapcase()	|	Swaps cases, lower case becomes upper case and vice versa  
title()	|	Converts the first character of each word to upper case  
translate()	|	Returns a translated string  
upper()	|	Converts a string into upper case  
zfill()	|	Fills the string with a specified number of 0 values at the beginning

# List  

List is a collection which is ordered and changeable. Allows duplicate members.  
List has []   
we can also use- list()  
List can also accepts keywords like (!,@,#,$....)  
count(3)  #gives how many times 3 is repeated  
if isinstance(i, (int,str))  - use instead of this - if type(i) == int or type(i) == str:     
List is mutable - change     
inside list is called as elements      
replace()  #replace creates a new memory  and allocates the changed data in there.       
 (+)   #concatination - not a permanent change so use extend   -   c = l1 + l2    
for item in list:   #use item if the list has a sublist

In [ ]:
# Single list of elements
list_string = ['krishna']
list_int = [3]
list_float = [45.6789]
list_bool = [True]
print(list_string, type(list_string))
print(list_int, type(list_int))
print(list_float, type(list_float))
print(list_bool, type(list_bool))

In [ ]:
# A list can accept int, float, str, bool, list, tuple, set, dict
list_all = ['venky',3,['List',34,3+8j],True,('Tuple',3,45.56,2-4j,False),'hi',{'set',2,35.56,True,4+6j},{'name':'krishna','age':24}] 
print(type(list_all))

### Datatype Conversion

In [ ]:
#Converting list, tuple, set, dict into list using []
list_list  = [ ['List',78.90,56,False]  ]
list_tuple = [ ('Tuple',78.90,56,False) ]
list_set   = [ {'Set',78.90,56,False}   ]
list_dic   = [ {'key1':23,'key2':56.87} ]
print(type(list_list))
print(type(list_tuple))
print(type(list_set))
print(type(list_dic))

In [ ]:
#Converting list, tuple, set, dict into list using list()
print(list('lohith'))
list_list  = list( ['List',78.90,56,False]  )    
list_tuple = list( ('Tuple',78.90,56,False) )    
list_set   = list( {'Set',78.90,56,False}   )
list_dic   = list( {'key1':23,'key2':56.87} ) 
print(type(list_list))
print(type(list_tuple))
print(type(list_set))
print(type(list_dic))

In [ ]:
lis1 = ['krishna',123,23.12,3+4j, True, 76,'LOHITH',78.90,56,False]
print(lis1, type(lis1))

### Accessing items

In [ ]:
print(lis1)
print(lis1[2])           # takes index and gives value
print(lis1.index(23.12)) # takes value and gives index
print(lis1[2:7])         #slicing
print(lis1[-1::-1])
print(lis1[3].real)
print(lis1.index(123))

### Changing items

In [ ]:
#Item Assignment
print(lis1)
lis1[0] = 'lohith'
lis1[2:4] = 'k','l'
lis1

### Add items

In [ ]:
# concatination
l1 = ['krishna']
l2 = ['lohith']
age = [24]
flo = [45.76]
boo = [True]
print('Concatination:- ', l1+l2+ age + flo + boo)       #can add lists bcoz they are same type

print(l1 * 10)   # Multiplication

#appending
l1.append([23,43.34,'doremon',True])   # add any dtype
print(l1)

#lis1.extend(l1)    # concates elements in one list to another list at the end.  
lis1

lis1.insert(0,l1)  # concates new elements in a particular index to a list 
lis1

In [ ]:
l = [1,2,3,4,5,6,7]
l.append(l)
print(l)
print(l[7])   # Nested List

### Remove items

In [ ]:
lis1.remove('mothukuri')
lis1
lis1.pop(10)             # removes an element based on index
del lis1                 #delets entire list
lis1.clear()             #removes all elements from the list

### Loop

In [ ]:
for i in [1,3,5,6,8]:
    print(l[i])

### Sorting items

In [ ]:
ls = [23,65,0,35,456,354.654,4646.453,42,534]
ls.sort()          # only for int,float
ls.sort(reverse = True)
ls
ls.reverse()  # reverses whole list

### Other Methods

In [ ]:
# when using list use index for count
y = ['lohith']
y[0].count('h')

In [ ]:
l2.copy()  # Returns a shallow copy of a list. A shallow copy means any modification in the new list won't be reflected in the original list.
l2
l2.clear()  # Removes all items from the list

In [ ]:
56 in l

In [ ]:
nums = [92,30,03.332]
max(nums)              #- ASCII values

In [ ]:
cha = ['za','n','s']
max(cha)         # Aplhabatical ASCII order

## List Comprehensions

In [ ]:
A = [1,2,3,4,5,6,7]
A

In [ ]:
l =  list()
for i in A:
    l.append(i)
print(l)

In [ ]:
c = [i*2 for i in A if i%2==0]
c

In [ ]:
l = 'lohith'
for i in l:
    print(i,l.count(i))

In [ ]:
A = [2,6,'lohith',9+8j,3,'krishna',7-8j,8]

In [ ]:
for i in A:
    if type(i) == complex :
        print(i,A.index(i))

In [ ]:
#isinstance(i, str)
c = [print(i,A.index(i)) for i in A if isinstance(i,complex)]
c

### List Methods   
Method | Description
-|-
append()	| Adds an element at the end of the list
clear()	|  Removes all the elements from the list
copy()	|  Returns a copy of the list
count()	|  Returns the number of elements with the specified value
extend()	|  Add the elements of a list (or any iterable), to the end of the current list
index()	|  Returns the index of the first element with the specified value
insert()	|  Adds an element at the specified position
pop()	|  Removes the element at the specified position
remove()	|  Removes the item with the specified value
reverse()	|  Reverses the order of the list
sort()	|  Sorts the list

# Tuple  

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.  
Tuple is immutable - unchangeable.      
Tuple  () symbol unable to use.   
Use tuple()    
When indexing use [].

In [ ]:
# single tuple of element
tuple_string  = ('lohith')
tuple_int     = (78)
tuple_float   = (67.09)
tuple_bool    = (False)
print(tuple_string, type(tuple_string))
print(tuple_int, type(tuple_int))
print(tuple_float, type(tuple_float))
print(tuple_bool, type(tuple_bool))

In [ ]:
# Multiple Elements are called as a tuple
t = 3,5,6
t

In [ ]:
# Tuple can accepts any data type str,int,float,bool,list,tuple,set,dict
t1 = (2,'krishna',['List',7.8],4.90,('tuple',3,2.5,4+5j, False), 5+3j,{34,'Set',4.29,True,40-3j},3.4,{'key1':3,'key2':'dict'})
print(t1, type(t1))

### Datatype Conversion

In [ ]:
tile_brac =   ( ['List',78.90,56,False] )    # can't convert into tuple using just bracets

tuple_list =  tuple( ['List',78.90,56,False] )
tuple_tuple = tuple( ('tuple',78.90,56,False))
tuple_set =   tuple( {'set',3,4.6,3+4j,True} )
tuple_dict =  tuple( {'key1':3,'key':5.6}    )
print(tuple_list, type(tuple_list))
print(tuple_tuple, type(tuple_tuple))
print(tuple_set, type(tuple_set))
print(tuple_dict, type(tuple_dict))

In [ ]:
t = (2,34.56,'krishna',4+5j,[3,5.6,'lohith'])
t

### Accessing Items

In [ ]:
print(t[1])
print(t[4][0])        # Access
print(t[2:4])         # slicing
print(t.index(34.56))

### Adding and Removing items

In [ ]:
# Item assignment can't possible in a tuple
t[4][0] = 'doremon'   # Item assignment inside a list which is in a tuple
# append, pop, remove - change tuple into list append then change it back to tuple
del t
#loops if, while
t1 = (3,4,6.3,'lohith')
t2 = (3,4,6.3,'lohith')
t1 + t2
t1 * 10

### Methods

In [ ]:
# only 2 methods
print(t2.count(3))
print(t2.index(3))

#Methods not apply. convert into list, after changes then list to tuple.
#t.append()
#t.pop()
#t.remove()
#t2.sort()
#t2.reverse()
#t2.clear()

### Tuple Methods

Method	| Description
-|-
count()	| Returns the number of times a specified value occurs in a tuple
index()	| Searches the tuple for a specified value and returns the position of where it was found

# Set
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.  
Use set() to convert.  
Tuple can accepts only data types of str,int,float,bool,tuple (not accept list, set, dict)

In [ ]:
# single set of elements
set_string = {'krishna'}
set_int  = {77}
set_float = {45.123}
set_bool = {True}
print(set_string, type(set_string))
print(set_int, type(set_int))
print(set_float, type(set_float))
print(set_bool, type(set_bool))

### Datatype Conversion

In [ ]:
#when using {} only tuple is able to convert
#set_list = { [2,3.44,'doremon',4+6j] } 
set_tuple = { (2,3.44,'doremon',4+6j) }
#set_set =  { {2,3.44,'doremon',4+6j} }
#set_dict = { {'key1':3,'key':5.6}    }

In [ ]:
# when using set() all datatypes will convert
set_list = set( [2,3.44,'doremon',4+6j] )
set_tuple= set( (2,3.44,'doremon',4+6j) )
set_set =  set( {2,3.44,'doremon',4+6j} )
set_dict = set( {'key1':3,'key':5.6}    )

In [ ]:
#set, list, dict inside a set is not possible.
#list and dict are not accepted in a set bcoz lists andn dicts are mutable elements
#s1 = { 2,3.4,'krishna',9+4j,['list',2,3.4,9+4j], {'key1':3,'key2':34} }

In [ ]:
# Tuple can accepts only data types of str,int,float,bool,tuple
s = {2,'krishna',4.90,('tuple',3,2.5,4+5j, False), 5+3j,3.4}
print(s, type(s))

In [ ]:
s1 = {1,2,3,4,5,5,6,6}
s1

In [ ]:
s2 = {1,2.89,'lohith',5,6+8j,-5,-1,0}   #set is unordered(not in order which we assign)
s2

In [ ]:
s1.add('krishna')
s1

In [ ]:
s1.discard(5)
s

### Set Methods
Method	|	Description
-	|	-
add()	|	Adds an element to the set
clear()	|	Removes all the elements from the set
copy()	|	Returns a copy of the set
difference()	|	Returns a set containing the difference between two or more sets
difference_update()	|	Removes the items in this set that are also included in another, specified set
discard()	|	Remove the specified item
intersection()	|	Returns a set, that is the intersection of two other sets
intersection_update()	|	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	|	Returns whether two sets have a intersection or not
issubset()	|	Returns whether another set contains this set or not
issuperset()	|	Returns whether this set contains another set or not
pop()	|	Removes an element from the set
remove()	|	Removes the specified element
symmetric_difference()	|	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	|	inserts the symmetric differences from this set and another
union()	|	Return a set containing the union of sets
update()	|	Update the set with the union of this set and others

## Dictionaries

Dictionary is a collection which is ordered** and changeable. No duplicate members.    
Allows all datatypes   
Keys can accept only tuple  
Values can accept all datatypes  
{'key': value}    
Nested dicts possible

In [ ]:
# single set of elements
set_string = {'name':'krishna'}
set_int  = {'age':24}
set_float = {'marks':99.99}
set_bool = {'boo':True}
print(set_string, type(set_string))
print(set_int, type(set_int))
print(set_float, type(set_float))
print(set_bool, type(set_bool))

In [ ]:
# Using {} or dict() we can't able to convert list and tuple into a dict. except below one.
#Keys can accept only tuple
dict_list = dict( {'name':'lohith'} )

In [ ]:
#Keys can accept only tuple
#Values can accept any data type
d = {
  "brand": "Ford",   
  "model": "Ford", 
  "year": 1964, 
  "year": 2020, 
    '#)&%*' : '*@&#()', 
    'mylist' : [3,4,'cdcac',8.4], 
    'mytuple' : (8,'lohith',8,9.89,4,4,4,4,77,7,7,77,77), 
    'myset' : {4,6,6,'krishna'}, 
    'mycomplex' : 3+4j,  
    '[myfloat, thisfloat]' : 5.66 , 
    'data' : {1:3,6:10},   #dictionary 1 is key and 3 is value
    'name' : ['krishna','krishna']
}
print(d)
d

### Accessing

In [ ]:
print(d['year'])   # We can Allow duplicates to the keys but output will get only one key.
print(d['data'][6])
print(d['name'])  # We can have Duplicate values

In [ ]:
print(d['jdc'])      # if key is not there gives error
print(d.get('ndk'))  # if the key is not found then it will not get error

In [ ]:
print(d.keys())  # All keys only

In [ ]:
print(d.values())   #All values only

In [ ]:
print(d.items())    # Gets all keys and values in the form of list []
type(d.items())

### Changing items

In [ ]:
# Item Assignment
d['key1'] = 777777   
# item reassignment
d['key1'] = 4444
d

In [ ]:
#print(d.update({'key1':5768}))

In [ ]:
d1 = {'name' : 'lohith','age': 24}
d1

In [ ]:
#d1[['sex','cast']] = ['male','bc']   # not possible
#d1[[1,2,3]] = ['male','bc']

In [ ]:
d1[('sex','cast')] = ['male','bc']   #possible bcoz tuple is immutable
d2 = {"Visa": 'Approved'}
d1.update(d2)
d1

In [ ]:
key = (2,'lohith',3.4)
value = 'dora'
d_new = d.fromkeys(key,value) 
d_new

### Removing Items

In [ ]:
d_new.pop(2)
d_new

In [ ]:
d.popitem()
del 
d.clear()

In [ ]:
#Loops 
for, while ..

In [ ]:
d.copy()

In [ ]:
# Error Methods
# d1 + d2
# d1 * 2

### Dictionary Methods

Method	|   Description
-|-
clear()	|   Removes all the elements from the dictionary
copy()	|   Returns a copy of the dictionary
fromkeys()	|   Returns a dictionary with the specified keys and value
get()	|   Returns the value of the specified key
items()	|   Returns a list containing a tuple for each key value pair
keys()	|   Returns a list containing the dictionary's keys
pop()	|   Removes the element with the specified key
popitem()	|   Removes the last inserted key-value pair
setdefault()	|   Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	|   Updates the dictionary with the specified key-value pairs
values()	|   Returns a list of all the values in the dictionary