## 50 Questions on python

**Python topics covered:-**  
Loops  
index sclicing  
control flow statements   
functions  
decorators  
lambda functions  
map   
filter

1. Print the first 5 positive integers in ascending order with one number 
in each line

In [385]:
for i in range(1,6):
    print(i)

1
2
3
4
5

2. Print the following pattern
*
**
***
****
*****
There are no spaces between consecutive stars. There are no spaces 
at the end of each line.

In [386]:
for i in range(6):
    for j in range(i):
        print("*",end="")
    print("\r")

*
**
***
****
*****

3. Accept an integer as input and print its square as output.

In [387]:
n = int(input("Enter a number to square it:- "))
print(n**2)

Enter a number to square it:- 5
25

In [388]:
q3 = lambda a: a**2
q3(2)

4

In [389]:
def q3(a:int):
    """
    Enter a number to square it
    """
    return a**2
q3(4.5)

20.25

4.Accept two integers as input and print their sum as output.

In [390]:
q4 = lambda a,b: a+b
q4(2,3)

5

In [391]:
def q4(a,b):
    return a+b
q4(2,3)

5

5. Accept two words as input and print the two words after adding a 
space between them

In [393]:
a,b = input("Enter your first name:- "), input("Enter your second name:- ")
print(a,b)

Enter your first name:- krishna
Enter your second name:- lohith
krishna lohith

In [394]:
def q5(a:str,b:str)->str:
    """
    Space between 2 words
    """
    print(a,b)
q5('krishna','lohith')

krishna lohith

6. Accept the registration number of a vehicle as input and print its 
state-code as output.

In [395]:
n = lambda a: a[0:2]
n('AP23R45')

'AP'

In [396]:
def q6(a:str) ->str:
    """
    Enter vehcile number to get your state code
    """
    return a[0:2]
q6('TS1676E2')

'TS'

7.Accept a five-digit number as input and print the sum of its digits as 
output.

In [397]:
a = str(234)
c=0
for i in a:
    c=c+int(i)
print(c)

9

In [398]:
def q7(a:int)->int:
    """
    Enter a five digit input and gives their sum
    """
    a=str(a)
    c=0
    for i in a:
        c=c+int(i)
    return c

q7(23456781000)

36

8.Accept five words as input and print the sentence formed by these 
words after adding a space between consecutive words and a full stop 
at the end.

In [399]:
def q8(a):
    words = []
    for i in range(1,a+1):
        n = input(f"Enter {i} word:- ")
        words.append(n)
        sentence = " ".join(words)
    print(sentence)
q8(5)

Enter 1 word:- hi
Enter 2 word:- ho
Enter 3 word:- are
Enter 4 word:- u
Enter 5 word:- ?
hi ho are u ?

9.Accept the date in DD-MM-YYYY format as input and print the 
year as output.

In [400]:
def q9(DMY):
    """
    Enter Date Month and Year in the format of DD-MM-YYYY
    """
    return DMY[6:]
q9('22-02-1999')

'1999'

In [401]:
def q9():
    """
    Enter Date month year to get output as year.
    """
    l = ['Date','Month','Year']
    output = []
    for i in l:
        n = input(f"Enter {i}:- ")
        output.append(n)
        DMY = "-".join(output)
    print("Year is ",DMY[6:])
q9()

Enter Date:- 22
Enter Month:- 02
Enter Year:- 1999
Year is  1999

10.Accept a sequence of five single digit numbers separated by commas 
as input. Print the product of all five numbers.

In [402]:
def q10(a):
    count = 1
    if type(a) == list:
        for i in a:
            if type(i) == int:
                count = count * i
        return count
q10([2,2,3,4,5])

240

11. Accept two positive integers x and y as input. Print the number of 
digits in xy(X to the power of y

In [403]:
def q11(a,b):
    c1 = 0
    c2 = 0
    for i in str(a):
        c1 = c1 + 1
    for j in str(b):
        c2 = c2+ 1
    return c1+c2
q11(123,4567)

7

In [404]:
#X to the power of y
def q11(a,b):
    r = a**b
    print("a square b:- ",r)
    print("Length of the output:- ",len(str(r)))
q11(2,4)

a square b:-  16
Length of the output:-  2

12. Accept a string as input. If the input string is of odd length, then 
continue with it. If the input string is of even length, make the 
string of odd length as below:
• If the last character is a period (.), then remove it 
• If the last character is not a period, then add a period (.) to the 
end of the string
Call this string of odd length word. Select a substring made up of 
three consecutive characters from word such that there are an 
equal number of characters to the left and right of this substring. 
Print this substring as output. You can assume that all input 
strings will be in lower case and will have a length of at least four

In [46]:
n = 'hi'

if len(n)%2==0:
    if n[-1] == '.' :
        print(n.replace('.',''))
    else:
        new = n + '.'
        print(new)

hi.

13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.

In [405]:
# Formula x2 + y2 = z2

def q13(x,y,z):
    if x**2 + y**2 == z**2 or z**2 + y**2 == x**2 or x**2 + z**2 == y**2:
        print('Yes')
    else:
        print('No') 
q13(3,4,5)

Yes

14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique 
positive integer. On one warm Sunday evening, five employees of the company come together for a 
meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.
The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
The output will be a single line containing one of these two strings: YES or NO

In [407]:
e1 = int(input('Enter 1st employee id:- '))
e2 = int(input('Enter 2nd employee id:- '))
e3 = int(input('Enter 3rd employee id:- '))
e4 = int(input('Enter 4th employee id:- '))
e5 = int(input('Enter 5th employee id:- '))

if ((e1+e2) % 2== 0 and 
    (e2+e3) % 2== 0 and 
     (e3+e4) % 2== 0 and 
     (e4+e5) % 2== 0 and 
     (e5+e1) % 2== 0):
    print('Yes')
else:
    print('No Meeting')

Enter 1st employee id:- 1
Enter 2nd employee id:- 2
Enter 3rd employee id:- 3
Enter 4th employee id:- 4
Enter 5th employee id:- 5
No Meeting

15. Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output

In [408]:
n = input().lower()
vowels = ''
l = ['a','e','i','o','u']
for i in l:
    if i in n:
        vowels += i
print(vowels)

lohith
io

16.You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.

In [411]:
p1_name = input('Enter 1st person name:- ')
p1_dob = input('Enter 1st person DOB in the format of DD-MM-YYYY:- ')
p2_name = input('Enter 2nd person name:- ')
p2_dob = input('Enter 2nd person DOB in the format of DD-MM-YYYY:- ')

if p1_dob == p2_dob:
    if p1_name < p2_name:
        print('yonger is ',p1_name)
    else:
        print('yonger is ',p2_name)
else:
    if p1_dob < p2_dob :
        print(f'{p2_name} is younger')
    else:
        print(f'{p1_name} is younger')

Enter 1st person name:- krishna
Enter 1st person DOB in the format of DD-MM-YYYY:- 22-02-1995
Enter 2nd person name:- lohith
Enter 2nd person DOB in the format of DD-MM-YYYY:- 22-02-1999
lohith is younger

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [81]:
n = 'krishna@123'
#k = [ '\','/', " = " ," ' ", ' " ']

if   8 < len(n) < 32:
    if n[0].isalpha():
        if '/' not in n and ' \ ' not in n and '=' not in n and ' " ' not in n and " ' " not in n and ' ' not in n:
            print('Valid password')
else:
    print('False')

Valid password

18. Accept a positive integer n as input and print the first n positive 
integers, one number on each line.

In [413]:
n = input('Enter a number:- ')
for i in range(1,int(n)+1):
    print(i)

Enter a number:- 5
1
2
3
4
5

19.Accept a positive integer n as input, where n is greater than 1. 
Print PRIME ifnis a prime number and NOTPRIME otherwise.

In [414]:
n = int(input('Enter a number to check prime or not:- '))
c=0
if n>=1:
    for i in range(1,n+1):
        for j in range(1,n+1):
            if i * j == n:
                c = c + 1
    if c==2:
        print('Prime Number')
    else:
        print('Not a Prime Number')
else:
    print('Enter Non negaive value')

Enter a number to check prime or not:- 3
Prime Number

20. Accept two strings as input and form a new string by removing all 
characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings 
will be in lower case.

In [415]:
n1=input('Enter first word:- ')
n2= input('Enter second word:- ')
new= ''
for i in n2:
    if i not in  n1:
        new +=i
print(n1 + ' ' + new)

Enter first word:- krishna
Enter second word:- lohith
krishna lot

21.Accept a phone number as input. A valid phone number should satisfy 
the following constraints.
(1) The number should start with one of these digits: 6, 7, 8, 9
(2) The number should be exactly 10 digits long.
(3) No digit should appear more than 7 times in the number.
(4) No digit should appear more than 5 times in a row in the 
number.
If the fourth condition is not very clear, then consider this example: 
the number 9888888765 is invalid because the digit 8 appears more 
than 5 times in a row. Print the string valid if the phone number is 
valid. If not, print the string invalid.

In [416]:
n = input('Enter a phone number:- ')
a=False
if len(n)==10 and int(n[0]) > 5 and n.isdigit():
    for i in range(10):
        if n.count(n[i]) < 8:
            a=True
            if n[i]*6 in n:
                a=False
                break
        else:
            break
if a:
    print('Valid')
else:
    print('Invalid')

Enter a phone number:- 923231442
Invalid

22. In the first line of input, accept a sequence of space-separated words. In the second line of 
input, accept a single word. If this word is not present in the sequence, print NO. If this word 
is present in the sequence, then print YES and in the next line of the output, print the number 
of times the word appears in the sequence.

In [417]:
a ='krishna lohith'
b = 'h'
c=0
if b in a:
    print('Yes')
    for i in a:
        if b == i:
            c=c+1
    print(c)
else:
    print('No')

Yes
3

23. Write a function named factorial that accepts an integer n as argument. It should return,
    the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it,
    should return 1 if n is zero.

In [418]:
def factorial(a):
    c=1
    if a>=1:
        for i in range(1,a+1):
            c*=i
        return c
    elif a<0:
        return -1
    else:
        return 1
factorial(5)

120

24. 
The range of a list of numbers is the difference between the maximum and minimum values in the list
Write a function named get_range that accepts a non-empty list of real numbers as argument. It 
should return the range of the list.
(1) Avoid using built-in function such as max and min.
(2) You do not have to accept input from the user or print output to the console. You just have to write 
the function definition.

In [82]:
def get_range(a):
    b = set(a)  # converting into set which will be unordered. 
    c = list(b)  # converting into list for indexing
    maxi= c[0]
    mini = c[-1]
    return (mini-maxi)
get_range([6,1,3,5,7])

6

25. Write a function named read_file that accepts a text file named filename as argument. Within 
the function, read the file and print each line of the file on a separate line in the console. You shouldn't 
print any extra characters at the end of a line. There shouldn't be an empty line between any two 
consecutive lines.
(1) filename is a string variable that holds the name of the file. For example, in the first test case, it 
is filename = 'public_1.txt'.
(2) You do not have to accept input from the console. You have to write the function definition and 
print the contents of the file within the function

In [83]:
def read_file():
    file = open('coursera financial aid.txt')
    content = file.read()
    return content
    file.close()
read_file()

'I completed my under graduation in Electronics and communication engineering in 2020 which is in covid-19 lockdown. Due to the corona period our college is closed and the placements are not conducted. So, our college degree was received in 2021. Which actually has to be released in 2020. The gap in education impacts my career a lot due to covid-19. The recession is going on at this time it is hard to find a job. So I need to enhance my skills in the latest technologies and want a certification for it to prove myself. A gap due to covid-19 impacts my career a lot so I need a proper guide for IBM Machine Learning full course( https://www.coursera.org/professional-certificates/ibm-machine-learning ). So that I can get a good job in FAANG companies which is my goal. As I am an ECE student I was interested in maths and coding in my under graduation period. So Machine learning is a great course that matches my area of interest. Please help me to enroll in the IBM Machine learning full course.'

26. A simple algorithm has to be designed to find out whether a student 
belongs to the Data Science branch or not. The input will be a 
student's roll number, which is of the form BR18B0000. 
Here, BR represents the branch code, 18 represents the year of 
joining, B represents the education level and 0000 represents the 
specific identification given to the student of that batch. The branch 
code for Data Science is DS. Print True if the student belongs to 
Data Science branch and False otherwise.

In [84]:
def DS_branch(a):
    if 'DS' in a:
        print(True)
    else:
        print(False)
        
DS_branch('DS18B0000')

True

In [85]:
def DS_branch(a):
    for i in a:
        if a[0:2] == 'DS':
            return True
        else:
            return False

DS_branch('DS18B0000')

True

27.The police are trying to track a criminal based on the evidence 
available at a crime site. Their main clue is a vehicle's damaged 
number plate. Only the string TN07 is visible. The format of the 
registration number is AA00AA00, where the first two letters are 
alphabets, next two are numbers, next two are again alphabets 
followed by two numbers at the end. A number plate is picked from a 
database of registration numbers and is given to you as input. Your 
task is to determine if this could belong to the criminal or not. 
Print True if the number plate 
contains TN07 and False otherwise.

In [86]:
a = input('Enter number plate:- ')
if (a[0:4] == 'TN07') or (a[4:8] == 'TN07'):
    print('True')
else:
    print('False')

Enter number plate:- TS02EL98
False

28. You are given a string and two non-negative integers as input. The 
two integers specify the start and end indices of a substring in the 
given string. Create a new string by replicating the substring a 
minimum number of times so that the resulting string is longer than 
the input string. The input parameters are the string, start index of 
the substring and the end index of substring (endpoints inclusive) 
each on a different line.

In [87]:
a='krishna'
s=2
e=4
b =a[s:e]
c=len(a)
e = (c//2)+1
print(b*e)

isisisis

In [88]:
a='krishnalohith'
s=2
e=4
b =a[s:e]
c=len(a)
e = (c//2)+1
while len(b) < len(a):
    b = b*e
print(b, len(a), len(b))

isisisisisisis 13 14

29. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, 
and Emerald for sports competitions. For dividing the students into these four groups, she has 
followed the pattern given below:
Sapphire - 1, 5, 9, 13, 17, 21, ...
Peridot - 2, 6, 10, 14, 18, 22, ...
Ruby - 3, 7, 11, 15, 19, 23, ...
Emerald - 4, 8, 12, 16, 20, 24, ...
All the students are represented by their roll numbers. Based on the above pattern, given the roll 
number as input, print the group the student belongs to. Note that the roll number can be any 
positive integer and not necessarily less than 25.

In [89]:
def q29(n):
    if n>=1 and n<=25:
        if n in range(1,22,4):
            print('Sapphire')
        elif n in range(2,23,4):
            print('Peridot')
        elif n in range(3,24,4):
            print('Ruby')
        else:
            print('Emerlad')
    else:
        print('Enter a number between 1 to 25')
q29(1)

Sapphire

30. A data science company wants to hire data scientists from abc college. 
The company follows a certain criteria for selection: for a student to 
be selected, the number of backlogs should be at most 5 and the 
CGPA (Cumulative Grade Point Average) should be greater than 6. If 
the student does not fit the above criteria, then the student is not 
offered the job. If the student is selected, then the salary offered is 
equal to 5 times his/her CGPA (in lakhs).
Accept the number of backlogs (integer) and the CGPA (float) of the 
student as input. Your task is to determine if the student is selected or 
not. If the student is selected, then print the package. If not, then 
print the string Not Selected.

In [90]:
n = int(input('Enter number of backlogs:- '))
p = float(input('Enter CGPA:- '))

if n<=5 and p>=6:
    print(5*p)
else:
    print('Not Selected')

Enter number of backlogs:- 15
Enter CGPA:- 7.18
Not Selected

31. Accept a string as input and print PALINDROME if it is a 
palindrome, and NOT PALINDROME otherwise

In [91]:
n = 'maddam'
n = n.lower()
b = len(n)
if b%2!=0:
    c = (b-1)//2
    if n[0:c] == n[b-1:b-3:-1]:
        print('Palindrom')
else:
    print('Not palindrom')

Not palindrom

32. In a portal login website, you are asked to write a function get_password_strength to decide 
the strength of a password. The strength is decided based on the total score of the password, Use 
following conditions:
1) If password has length greater than 7 then score increases by one point.
2) If password has at least one upper case and one lower case alphabets score increases by one point.
3) If password has at least one number and no consecutive numbers like 12 or 234 then score 
increases by one point.
4) If password has at least one special character (any character other than numbers and alphabets) then 
score increases by one point.
5) If password contains username, then it is invalid password.
If the password has score of four points, three points, two points, or one point then print Very 
Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then 
print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a 
different password.The arguments to the function are username and password which are 
already defined

In [92]:
def get_password_strength(user_name,pass_word):
    c = 0
    upper_case = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    upper_flag = False
    lower_case = 'abcdefghijklmnopqrstuvwxyz'
    lower_flag = False
    numbers = '0123456789'
    numbers_flag = False
    noncons_num = True

    if user_name in pass_word:
        print('Password should not include username')
        return
    if len(pass_word) > 7:
        c=c+1
    for i in range(len(pass_word)):
        if pass_word[i] in upper_case:
            upper_flag = True
        elif pass_word[i] in lower_case:
            lower_flag = True
        elif pass_word[i] in numbers:
            numbers_flag = True
        if numbers_flag:
            if i != (len(pass_word)-1):
                if numbers[((numbers.index(pass_word[i]))+1)] == pass_word[i+1]:
                    noncons_num = False   
    if upper_flag and lower_flag:
        c=c+1   
    if numbers_flag and noncons_num:
        c=c+1   
    if not pass_word.isalnum():
        c=c+1
    if c==4:
        print('Very Strong')
        return
    if c==3:
        print('Strong')
        return
    if c==2:
        print('Moderate')
        return
    if c==1:
        print('Weak')
        return
    if c==0:
        print('Use a different password')
        return

In [93]:
get_password_strength('Lohith','KriShna@147')

Very Strong

33.decorator that logs the date and time

In [94]:
import datetime

def get_date_time(func):
    def wrapper(*args):
        func(*args)
        c = datetime.datetime.now()
        print('-'*40)
        return print('Run on:-',c)
    return wrapper

@get_date_time
def mul_10(a):
    return print('Multiply with 10 :-',a*10)

In [95]:
mul_10(2)

Multiply with 10 :- 20
----------------------------------------
Run on:- 2023-02-17 11:10:00.974867

34.Program to Get Data Items From a List Appearing Odd Number of Times

In [96]:
#l = [3,4,3,1,2,4,4]
def q34(l:list)->list:
    l1= []
    for i in range(len(l)):
        if l.count(l[i]) %2 != 0:
            l1.append(l[i])
    return list(set(l1))

q34([3,4,3,1,2,4,4,4,5])

[1, 2, 5]

35.What are decorators in Python?

In Python, a decorator is a function that takes another function as an argument, adds some functionality to it, and then returns the modified function. In other words, a decorator is a higher-order function that modifies the behavior of another function without changing its source code.

In [97]:
# Lower case
def lower_case(funclower):
    def wrapper(*args):
        z = funclower(*args)
        f = z.lower()
        print('Lower is completed')
        return f
    return wrapper

# split
def split_fun(funcsplit):
    def wrapper(*args):
        d = funcsplit(*args)
        e = d.split()
        print('split is completed')
        return e
    return wrapper

# Here first lower then split
@split_fun
@lower_case
def q36(a):
    return a

q36('KRISHNA LOHITH')

Lower is completed
split is completed

['krishna', 'lohith']

36. remove items from a list while iterating but without creating a different copy of a list.
Remove numbers greater than 50
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected Output: [10, 20, 30, 40, 50]

In [98]:
l = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
newl = [i for i in l if i <= 50]
print(newl)

[10, 20, 30, 40, 50]

In [99]:
l = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
i = 0
n = len(l)

while i<n:
    if l[i]>50:
        del l[i]
        n = n-1
    else:
        i = i+1
print(l)

[10, 20, 30, 40, 50]

37.  Display all duplicate items from a list
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
Expected Output: [20, 60, 30]

In [100]:
l = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
l1 = []
for i in l:
    if l.count(i) > 1:
        l1.append(i)
print(list(set(l1)))

[20, 60, 30]

In [101]:
import collections
l = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
d = []

for item,count in collections.Counter(l).items():
    if count >1:
        d.append(item)
print(d)

[20, 60, 30]

38. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.
Create an inner function inside an outer function that will concatenate x and y.
At last, an outer function will join the word 'developer' to it.

In [102]:
def outer_(a,b):
    def inner_():
        c  = a+' '+b
        return c
    return inner_() + ' ' + 'Developer'

In [103]:
outer_('emma','kelly')

'emma kelly Developer'

39. Modify the element of a nested list inside the following list
Change the element 35 to 3500
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [104]:
l = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

l[1][2][2][1] = 3500
l

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

40.  Access the nested key increment from the following dictionary
Access 12
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [105]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [106]:
emp_dict['company']['employee']['payable']['increment']

12

41. Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [107]:
p = 0
for i in range(10):
    c = i
    if c==0:
        p=0
    elif c>1:
        p = c-1
    s=c+p
    print(c,p,s)

0 0 0
1 0 1
2 1 3
3 2 5
4 3 7
5 4 9
6 5 11
7 6 13
8 7 15
9 8 17

42. Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.

In [108]:
n = input('Enter a string:- ')
for i in range(len(n)):
    if i%2==0:
        print(n[i],end=' ')

Enter a string:- lohith
l h t

In [109]:
s = 'ineuron'
n = len(s)
for i in range(0,len(s),2):
    print(s[i],end=' ')

i e r n

43. Print multiplication table form 1 to 10
1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [110]:
for i in range(1,11):
    for j in range(1,11):
        k = i * j 
        print(f'{k}', end = '  ')
    print('\n')

1  2  3  4  5  6  7  8  9  10

2  4  6  8  10  12  14  16  18  20

3  6  9  12  15  18  21  24  27  30

4  8  12  16  20  24  28  32  36  40

5  10  15  20  25  30  35  40  45  50

6  12  18  24  30  36  42  48  54  60

7  14  21  28  35  42  49  56  63  70

8  16  24  32  40  48  56  64  72  80

9  18  27  36  45  54  63  72  81  90

10  20  30  40  50  60  70  80  90  100

In [111]:
for i in range(1,11):
    for j in range(1,11):
        k = i * j
        print(f'{i} * {j} = {k} ')
    print('\n')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50


6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60


7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70


8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90


10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

44. Remove duplicates from a list and create a tuple and find the minimum and maximum number
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:
unique items [87, 45, 41, 65, 99,94]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99

In [112]:
l = [87, 45, 41, 65, 94, 41, 99, 94]

s = set(l)
print(list(s))
print(tuple(s))
print('maximum:- ',max(s))
print('minimum:- ',min(s))

[65, 99, 41, 45, 87, 94]
(65, 99, 41, 45, 87, 94)
maximum:-  99
minimum:-  41

45. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument,
also create a lambda function
that multiplies argument x with argument y and print the result.

In [113]:
da1 = lambda a: a+15
da2 = lambda a,b: a*b
print(da1(5))
da2(2,3)

20

6

46. Write a Python program to sort a list of tuples using Lambda.

In [114]:
t = lambda args: sorted(args)

l = [(6,'r'),(3,'k'),(2,'l')]
t(l)

[(2, 'l'), (3, 'k'), (6, 'r')]

47. Write a Python program to extract year, month, date and time using Lambda.

In [115]:
import datetime
d = lambda : datetime.datetime.now()
d()

datetime.datetime(2023, 2, 17, 11, 12, 54, 981873)

In [116]:
now = datetime.datetime.now()  #now is the argument
print(now)

year = lambda x: x.year   # year is the function and now is the argument
month = lambda x: x.month
date = lambda x: x.day
time = lambda x: x.time()
print('year:- ',year(now))
print('month:- ',month(now))
print('date:- ',date(now))
print('time:- ',time(now))

2023-02-17 11:12:55.721864
year:-  2023
month:-  2
date:-  17
time:-  11:12:55.721864

48. Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [117]:
l = [1,2,3,4,5,6,7,8,9,0]

print(len(list(filter(lambda a: a%2==0,l))))
print(len(list(filter(lambda a: a%2!=0,l))))

5
5

49. Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence.
Use map() function.

In [118]:
def q49(n):
    def dup(n):
        new =''
        for i in n:
            if i not in new:
                new = new+i
    return str(new).upper(),str(new).lower()

q49('Krishhnna')

('HI.', 'hi.')

In [119]:
s = ('Krishna', 'Lohith')
print(tuple(map(lambda a: a.upper(),s)))
print(tuple(map(lambda a: a.lower(),s)))

('KRISHNA', 'LOHITH')
('krishna', 'lohith')

50.  Write a Python program to square the elements of a list using map() function.

In [120]:
l = [1,2,3,4,5,6,7,8,9,0]
print(list(map(lambda a: a**2,l)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 0]