# Mongodb

Mongodb documentation  
https://www.mongodb.com/docs/manual/tutorial/update-documents//

We can write Mongodb(nosql) queires in any ide the data will be reflected in Mongodb Atlas(online).
https://cloud.mongodb.com/v2/64158d915412252efc8686a2#/metrics/replicaSet/641593d27519ae4f02aa7b7c/explorer/ineuron_database/course/find

In [ ]:
Mongodb atlas is an online version
Mongodb compass is an offline version
used ip address as 0.0.0.0/0

In [ ]:
We can create databases and inside batabases we can create collections(collections are same as like Tables in SQL). 
collections - collection of data.
Mongodb is a Nosql based database.

In [2]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\user\appdata\local\programs\python\python36\lib\site-packages (4.1.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install "pymongo[srv]"

In [1]:
#This code will be generated in Mongodb atlas online.
import pymongo # connecting python to mongo
client = pymongo.MongoClient("mongodb+srv://krishnalohith22:Mnbvcxz143@klcluster1.ii2vcc5.mongodb.net/?retryWrites=true&w=majority")
db = client.test
print(db)

Database(MongoClient(host=['ac-cneth0m-shard-00-00.ii2vcc5.mongodb.net:27017', 'ac-cneth0m-shard-00-01.ii2vcc5.mongodb.net:27017', 'ac-cneth0m-shard-00-02.ii2vcc5.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-pc2wzs-shard-0', tls=True), 'test')

In [2]:
#creating a database
#database is bunch of collections
database = client['ineuron']   #client is a connection url. 
#ineuron is a database name

In [3]:
#need to create collections. collection should be created inside database
#collection is bunch of data
coll = database['fsds1']
#fsds1 is a collection name.

In [6]:
# creating dictionary data.
# This is document - means data

data = {'class name': 'full stack data sceince 2.0',
     'topic name': 'mongodb nosql',
      'date': '2023-mar-18'}

In [7]:
coll.insert_one(data)  # if we have single data then use insert_one function
#check in atlas you can see the data.

In [8]:
many_data = [{'class name': 'full stack data sceince 2.0',
     'topic name': 'mongodb nosql',
      'date': '2023-mar-18'},
{'class name': 'full stack data sceince 2.0',
     'topic name': 'mongodb nosql',
      'date': '2023-mar-18'},
{'class name': 'full stack data sceince 2.0',
     'topic name': 'mongodb nosql',
      'date': '2023-mar-18'},
{'class name': 'full stack data sceince 2.0',
     'topic name': 'mongodb nosql',
      'date': '2023-mar-18'}]

In [10]:
coll.insert_many(many_data)  #if we have multiple data the use insert_many

In [17]:
#we can insert anytype of datatype without giving like table schema like in sql.

data1 = {'_id': 'data_1',
    'class name': 'full stack data sceince 2.0',
     'topic name': 'mongodb nosql',
      'date': '2023-mar-18',
'name': 'krishna lohith',
'age': 24,
'skills': ['python', 'sql','pandas','ml']}

In [18]:
coll.insert_one(data1)

In [19]:
db = client['ineuron_database']

In [20]:
co_data = db['course']
stu_data = db['student']

In [22]:
data_course = {'course name':['full stack data science', 'full stack data analysis', 'big data','block chain','dev ops'],
       'course instructur name': ['krishna','venky','shashi','nikhil'],
       'start date':'22-02-2022',
       'duration': '6 months',
       'mode':'live online',
       'certification':'yes',
       'prerequisites':'dedication to learn',
       'resume':'yes',
       'mockinterview':'yes'}

In [23]:
co_data.insert_one(data_course)

In [29]:
data_course1 = {'name':'full stack data science',
                'instructur': ['krishna','venky'],
                'price':'1777',
                'duration':'8 months'}

In [30]:
#here we adding new structred data in the same collection(table).
co_data.insert_one(data_course1)

In [31]:
# Multiple records with same structure.
data_course2 = [
    {'name':'full stack data science',
                'instructur': ['krishna','venky'],
                'price':'1777',
                'duration':'8 months'},
    {'name':'full stack data science',
                'instructur': ['krishna','venky'],
                'price':'1777',
                'duration':'8 months'},
    {'name':'full stack data science',
                'instructur': ['krishna','venky'],
                'price':'1777',
                'duration':'8 months'},
    {'name':'full stack data science',
                'instructur': ['krishna','venky'],
                'price':'1777',
                'duration':'8 months'},
    {'name':'full stack data science',
                'instructur': ['krishna','venky'],
                'price':'1777',
                'duration':'8 months'},
    {'name':'full stack data science',
                'instructur': ['krishna','venky'],
                'price':'1777',
                'duration':'8 months'},
    {'name':'full stack data science',
                'instructur': ['krishna','venky'],
                'price':'1777',
                'duration':'8 months'}
]

In [32]:
co_data.insert_many(data_course2)

In [33]:
# 2 records with different structure.
data_course3 = [
    {'name':'full stack data science',
                'instructur': ['krishna','venky'],
                'price':'1777',
                'duration':'8 months'},
    {'course name':['full stack data science', 'full stack data analysis', 'big data','block chain','dev ops'],
       'course instructur name': ['krishna','venky','shashi','nikhil'],
       'start date':'22-02-2022',
       'duration': '6 months',
       'mode':'live online',
       'certification':'yes',
       'prerequisites':'dedication to learn',
       'resume':'yes',
       'mockinterview':'yes'}
]

In [34]:
co_data.insert_many(data_course3)

In [45]:
# checking the records in the collection using find function.
rec = co_data.find()

In [37]:
for i in rec:
    print(i)

{'_id': ObjectId('6415e2ee8490056d328cdc0f'), 'course name': ['full stack data science', 'full stack data analysis', 'big data', 'block chain', 'dev ops'], 'course instructur name': ['krishna', 'venky', 'shashi', 'nikhil'], 'start date': '22-02-2022', 'duration': '6 months', 'mode': 'live online', 'certification': 'yes', 'prerequisites': 'dedication to learn', 'resume': 'yes', 'mockinterview': 'yes'}
{'_id': ObjectId('6415e4168490056d328cdc10'), 'name': 'full stack data science', 'instructur': ['krishna', 'venky'], 'price': '1777', 'duration': '8 months'}
{'_id': ObjectId('6415e4b88490056d328cdc11'), 'name': 'full stack data science', 'instructur': ['krishna', 'venky'], 'price': '1777', 'duration': '8 months'}
{'_id': ObjectId('6415e4b88490056d328cdc12'), 'name': 'full stack data science', 'instructur': ['krishna', 'venky'], 'price': '1777', 'duration': '8 months'}
{'_id': ObjectId('6415e4b88490056d328cdc13'), 'name': 'full stack data science', 'instructur': ['krishna', 'venky'], 'price': '1777', 'duration': '8 months'}
{'_id': ObjectId('6415e4b88490056d328cdc14'), 'name': 'full stack data science', 'instructur': ['krishna', 'venky'], 'price': '1777', 'duration': '8 months'}
{'_id': ObjectId('6415e4b88490056d328cdc15'), 'name': 'full stack data science', 'instructur': ['krishna', 'venky'], 'price': '1777', 'duration': '8 months'}
{'_id': ObjectId('6415e4b88490056d328cdc16'), 'name': 'full stack data science', 'instructur': ['krishna', 'venky'], 'price': '1777', 'duration': '8 months'}
{'_id': ObjectId('6415e4b88490056d328cdc17'), 'name': 'full stack data science', 'instructur': ['krishna', 'venky'], 'price': '1777', 'duration': '8 months'}
{'_id': ObjectId('6415e5158490056d328cdc18'), 'name': 'full stack data science', 'instructur': ['krishna', 'venky'], 'price': '1777', 'duration': '8 months'}
{'_id': ObjectId('6415e5168490056d328cdc19'), 'course name': ['full stack data science', 'full stack data analysis', 'big data', 'block chain', 'dev ops'], 'course instructur name': ['krishna', 'venky', 'shashi', 'nikhil'], 'start date': '22-02-2022', 'duration': '6 months', 'mode': 'live online', 'certification': 'yes', 'prerequisites': 'dedication to learn', 'resume': 'yes', 'mockinterview': 'yes'}

In [46]:
#pprint is nothing but pretty print it gives the output beautifully.
rec = co_data.find()
from pprint import pprint
for i in rec:
    pprint(i)

{'_id': ObjectId('6415e2ee8490056d328cdc0f'),
 'certification': 'yes',
 'course instructur name': ['krishna', 'venky', 'shashi', 'nikhil'],
 'course name': ['full stack data science',
                 'full stack data analysis',
                 'big data',
                 'block chain',
                 'dev ops'],
 'duration': '6 months',
 'mockinterview': 'yes',
 'mode': 'live online',
 'prerequisites': 'dedication to learn',
 'resume': 'yes',
 'start date': '22-02-2022'}
{'_id': ObjectId('6415e4168490056d328cdc10'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': '1777'}
{'_id': ObjectId('6415e4b88490056d328cdc11'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': '1777'}
{'_id': ObjectId('6415e4b88490056d328cdc12'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': '1777'}
{'_id': ObjectId('6415e4b88490056d328cdc13'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': '1777'}
{'_id': ObjectId('6415e4b88490056d328cdc14'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': '1777'}
{'_id': ObjectId('6415e4b88490056d328cdc15'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': '1777'}
{'_id': ObjectId('6415e4b88490056d328cdc16'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': '1777'}
{'_id': ObjectId('6415e4b88490056d328cdc17'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': '1777'}
{'_id': ObjectId('6415e5158490056d328cdc18'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': '1777'}
{'_id': ObjectId('6415e5168490056d328cdc19'),
 'certification': 'yes',
 'course instructur name': ['krishna', 'venky', 'shashi', 'nikhil'],
 'course name': ['full stack data science',
                 'full stack data analysis',
                 'big data',
                 'block chain',
                 'dev ops'],
 'duration': '6 months',
 'mockinterview': 'yes',
 'mode': 'live online',
 'prerequisites': 'dedication to learn',
 'resume': 'yes',
 'start date': '22-02-2022'}

In [49]:
#returns first record or any random record.
co_data.find_one()

{'_id': ObjectId('6415e2ee8490056d328cdc0f'),
 'course name': ['full stack data science',
  'full stack data analysis',
  'big data',
  'block chain',
  'dev ops'],
 'course instructur name': ['krishna', 'venky', 'shashi', 'nikhil'],
 'start date': '22-02-2022',
 'duration': '6 months',
 'mode': 'live online',
 'certification': 'yes',
 'prerequisites': 'dedication to learn',
 'resume': 'yes',
 'mockinterview': 'yes'}

In [56]:
rec1 = co_data.find({}, {})
rec2 = co_data.find({}, {'duration'})

In [57]:
for i in rec2:
    print(i)

{'_id': ObjectId('6415e2ee8490056d328cdc0f'), 'duration': '6 months'}
{'_id': ObjectId('6415e4168490056d328cdc10'), 'duration': '8 months'}
{'_id': ObjectId('6415e4b88490056d328cdc11'), 'duration': '8 months'}
{'_id': ObjectId('6415e4b88490056d328cdc12'), 'duration': '8 months'}
{'_id': ObjectId('6415e4b88490056d328cdc13'), 'duration': '8 months'}
{'_id': ObjectId('6415e4b88490056d328cdc14'), 'duration': '8 months'}
{'_id': ObjectId('6415e4b88490056d328cdc15'), 'duration': '8 months'}
{'_id': ObjectId('6415e4b88490056d328cdc16'), 'duration': '8 months'}
{'_id': ObjectId('6415e4b88490056d328cdc17'), 'duration': '8 months'}
{'_id': ObjectId('6415e5158490056d328cdc18'), 'duration': '8 months'}
{'_id': ObjectId('6415e5168490056d328cdc19'), 'duration': '6 months'}

In [60]:
# showing all records like a *. bcoz we not given {} at starting
for i in co_data.find({'duration':'6 months'}):
    pprint(i)

{'_id': ObjectId('6415e2ee8490056d328cdc0f'),
 'certification': 'yes',
 'course instructur name': ['krishna', 'venky', 'shashi', 'nikhil'],
 'course name': ['full stack data science',
                 'full stack data analysis',
                 'big data',
                 'block chain',
                 'dev ops'],
 'duration': '6 months',
 'mockinterview': 'yes',
 'mode': 'live online',
 'prerequisites': 'dedication to learn',
 'resume': 'yes',
 'start date': '22-02-2022'}
{'_id': ObjectId('6415e5168490056d328cdc19'),
 'certification': 'yes',
 'course instructur name': ['krishna', 'venky', 'shashi', 'nikhil'],
 'course name': ['full stack data science',
                 'full stack data analysis',
                 'big data',
                 'block chain',
                 'dev ops'],
 'duration': '6 months',
 'mockinterview': 'yes',
 'mode': 'live online',
 'prerequisites': 'dedication to learn',
 'resume': 'yes',
 'start date': '22-02-2022'}

In [61]:
# given () at starting so got only what we need.
for i in co_data.find({},{'duration':'6 months'}):
    pprint(i)

{'_id': ObjectId('6415e2ee8490056d328cdc0f'), 'duration': '6 months'}
{'_id': ObjectId('6415e4168490056d328cdc10'), 'duration': '6 months'}
{'_id': ObjectId('6415e4b88490056d328cdc11'), 'duration': '6 months'}
{'_id': ObjectId('6415e4b88490056d328cdc12'), 'duration': '6 months'}
{'_id': ObjectId('6415e4b88490056d328cdc13'), 'duration': '6 months'}
{'_id': ObjectId('6415e4b88490056d328cdc14'), 'duration': '6 months'}
{'_id': ObjectId('6415e4b88490056d328cdc15'), 'duration': '6 months'}
{'_id': ObjectId('6415e4b88490056d328cdc16'), 'duration': '6 months'}
{'_id': ObjectId('6415e4b88490056d328cdc17'), 'duration': '6 months'}
{'_id': ObjectId('6415e5158490056d328cdc18'), 'duration': '6 months'}
{'_id': ObjectId('6415e5168490056d328cdc19'), 'duration': '6 months'}

In [66]:
# updating price so give old price and new price

co_data.update_one({'price':'1777'},{'$set':{'price':2222}})  # updates only 1st record
co_data.update_one({'price':'1777'},{'$set':{'price':2222}})   # updates in all the records.

In [70]:
co_data.find_one({'price':2222})

{'_id': ObjectId('6415e4168490056d328cdc10'),
 'name': 'full stack data science',
 'instructur': ['krishna', 'venky'],
 'price': 2222,
 'duration': '8 months'}

In [68]:
for i in co_data.find():
    pprint(i)

{'_id': ObjectId('6415e2ee8490056d328cdc0f'),
 'certification': 'yes',
 'course instructur name': ['krishna', 'venky', 'shashi', 'nikhil'],
 'course name': ['full stack data science',
                 'full stack data analysis',
                 'big data',
                 'block chain',
                 'dev ops'],
 'duration': '6 months',
 'mockinterview': 'yes',
 'mode': 'live online',
 'prerequisites': 'dedication to learn',
 'resume': 'yes',
 'start date': '22-02-2022'}
{'_id': ObjectId('6415e4168490056d328cdc10'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': 2222}
{'_id': ObjectId('6415e4b88490056d328cdc11'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': 2222}
{'_id': ObjectId('6415e4b88490056d328cdc12'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': 2222}
{'_id': ObjectId('6415e4b88490056d328cdc13'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': 2222}
{'_id': ObjectId('6415e4b88490056d328cdc14'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': 2222}
{'_id': ObjectId('6415e4b88490056d328cdc15'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': 2222}
{'_id': ObjectId('6415e4b88490056d328cdc16'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': 2222}
{'_id': ObjectId('6415e4b88490056d328cdc17'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': 2222}
{'_id': ObjectId('6415e5158490056d328cdc18'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': 2222}
{'_id': ObjectId('6415e5168490056d328cdc19'),
 'certification': 'yes',
 'course instructur name': ['krishna', 'venky', 'shashi', 'nikhil'],
 'course name': ['full stack data science',
                 'full stack data analysis',
                 'big data',
                 'block chain',
                 'dev ops'],
 'duration': '6 months',
 'mockinterview': 'yes',
 'mode': 'live online',
 'prerequisites': 'dedication to learn',
 'resume': 'yes',
 'start date': '22-02-2022'}

In [ ]:
# before update_one function
for i in coll.find({},{'topic name'}):
    pprint(i)

In [ ]:
#update_many function with update_one function
for i in coll.find({},{'topic name'}):
    coll.update_one({'topic name': 'sql'},{'$set':{'topic name':'nosql'}})

In [ ]:
# after update_many function
for i in coll.find({},{'topic name'}):
    pprint(i)

In [75]:
co_data.delete_one({'duration':'6 months'})  #delets only first records
co_data.delete_many({'duration':'6 months'})

In [76]:
for i in co_data.find({'duration':'6 months'}):
    pprint(i)

In [89]:
#gt means greater than, lt means lesser than, gte means greater than equals to, lte ......
c = co_data.find({'price':{'$gte':5000}})

In [90]:
for i in c:
    pprint(i)

{'_id': ObjectId('6415e4168490056d328cdc10'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': 5000}
{'_id': ObjectId('6415e4b88490056d328cdc11'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': 20000}
{'_id': ObjectId('6415e4b88490056d328cdc12'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': 15000}
{'_id': ObjectId('6415e4b88490056d328cdc13'),
 'duration': '8 months',
 'instructur': ['krishna', 'venky'],
 'name': 'full stack data science',
 'price': 10000}

In [ ]:
#delete_many function without using delete_many
for i in coll.find({}):
    coll.delete_one({'topic name':'nosql'})