# Python_Functions_Decorators

**Topics Covered:-**  
1) mutiple arguments( * , ** )  
2) Nested Functions  
3) Functions as an arguments  
4) Decorators  

5) lambda_comprehensions  
6) Iterators_Iterabels

## * args and **kwargs

can use single static after double static  ( * as, ** kvas)  
cannot use double static after single static  ( ** kvas, * as)  
positional argument follows keyword argument   


 * 0 to n number of arugemnets (values).   
 *anyname - we can pass this when we need to assign multiple arguments, n number of arguments.  
 *args - args is a standard keyword but we can use anyname.  
n number of any type of arguments(include - str, int, float, complex, list, set, tuple, dict)  
positional arguments. (a,b,c,*args,d,e)    
No need to assign positions before *args, but we need to assign positions after *args  
** - n number of arguments (key, values)      
test8(a=1, c=2, d =(1,2,3,4), b=[3,4,5,6])   #Assign values to the keys- a,b,c,d are keys  
Don't give same variable which is same as in a function.  

Simple function the use lambda   
n = lambda a,b: a*b  
n(2,7)  
*args

In [ ]:
def test(a,b,c,d,e,f):
    return a,b,c,d,e,f

test(2,3,4,5,6,7)

In [ ]:
def test1(*args):
    return args

In [ ]:
test1(2,3,4,5)

In [ ]:
test1([1,2,3],(3,5,6),{2,3,3,4})

In [ ]:
def tes(a, *krish):     # a - specific variable, *krish - n number of arguments.  
    return  krish, a

In [ ]:
tes(22, 44,  33)# here we didn't assigned which value for a and which values are for *krish
                #by default a will take the first value(bcoz a placed before *krish)

In [ ]:
def test3(*krish, a): # a - specific variable, *krish - n number of arguments.  
    return krish, a

In [ ]:
test3(34,33,7)  #function can't understand which one is the value for a, bcoz a placed after *krish

In [ ]:
test3(34,33, a=7)   # so assign the arguments which are present after *args

In [ ]:
test3(a=7, 34,33)    #positions are not matching

In [ ]:
def test4(a,*args):
    return a, args

In [ ]:
test4('krish',33,44, 32)

In [ ]:
def test4(a,b, *args, c,d):
    return args, a,b,c,d

In [ ]:
# No need to assign positions before *args, but we need to assign positions after *args
test4('krish',77,   34, 321, 2,   c=3, d=4)    # here 34,321,2 are args bcoz we have denoted them in between.

In [ ]:
def test5(*args):
    return args

In [ ]:
test5([2,'k',3.8,9-6j],(2,'k',3.8,9-6j),{2,'k',3.8,9-6j},{'a':2,'b':4})

In [ ]:
def test6(*args):
    for i in args:
        if type(i) == list:
            return i

In [ ]:
test6(2,'k',3.8,9-6j,[2,'k',3.8,9-6j],2,'k',3.8,9-6j)

In [ ]:
test6([2,'k',3.8,9-6j],(2,'k',3.8,9-6j),{2,'k',3.8,9-6j},{'a':2,'b':4})

In [ ]:
test6(2,'k',3.8,9-6j,[2,'k',3.8,9-6j],2,'k',3.8,9-6j,[3,'u',6.9,3-7j])
# from test6() function we gets only starting list.

In [ ]:
def test7(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [ ]:
test7(2,'k',3.8,9-6j,[2,'k',3.8,9-6j],2,'k',3.8,9-6j,[3,'u',6.9,3-7j])

In [ ]:
# This dict doesn't have any iterable keys.
d = {"ineuron" : {
                    "a": 14,
                    "b":10,
                    "c": 4
                    }, 
        "course" :  {
                      "d":45,
                      "e":34,
                      "f":1
                    },
     "price" :  {
                      "g":85,
                      "h":114,
                      "i":10
      },  "k":[3,45,43,232,24,532,777],
     "l":(23,324,34),
     "m":"krishna",
     "n" : 88
    }

In [ ]:
d["price"]

## Double stars

dict_func( ** kwargs):   
    return kwargs

dict_func(a=1,b=2,c=3)  
USed for dictionary functions  
Assign values to the keys- a,b,c,d are keys   
Not able to pass a number as a key    
def test9(**  kwargs, a):   #we can't able to assign unique argumrnts after ** kwargs.  
doublr ** kwargs should be at last position in a function.

In [ ]:
def test8(**kwargs):
    return kwargs

In [ ]:
test8(a=1, b=[2,3,4,5,6])   # assign keys and values

In [ ]:
test8(a=1 ,2, b=[3,4,5,6])   #always apply any collection type when assigning multiple values.

In [ ]:
test8( f='krishna',v = '344', a=1, c=2, d =(1,2,3,4), b=[3,4,5,6])   #Assign values to the keys- a,b,c,d are keys

In [ ]:
type(test8())

In [ ]:
def test9(a, **kwargs):
    return a, kwargs

In [ ]:
test9(77, b = [3,4,5,6,7,88,99])

In [ ]:
def test9(**kwargs, a):   #we can't able to assign unique argumrnts after **kwargs.
    return kwargs, a

In [ ]:
def test10(a, **kwargs, *args):  # cannot use double static after single static 
    return a, kwargs, args

In [ ]:
def test11(a, *args, **kwargs):  # can use single static after double static
    return a, args, kwargs

In [ ]:
test11(1,2, 22,33,44, c = 77, b = 88)

### Function as an argument

In [ ]:
def t1(a):
    return a

t1('krishna')

def t2(b):
    return b*2

def t3(c):
    return c('lohith')     # t2(something)

#t3('krishna')  - string is not callable

In [ ]:
# t3(t1) which means t1 is an argument for t3.  so c = t1 in t3.
# inside t3 function states that c('lohith') which means t1('lohith')
# Now function return t1(a) so here t1('lohith'). inside t1 returns a which means 'lohith'

t3(t1)

In [ ]:
t3(t2)

In [ ]:
def t1(a):
    return a

#def t2(): 
def t2():   # *args takes 0 to n arguments
    return 'krish', 77

def t3(c):
    return c('lohith')

#t3('krishna')  - string is not callable

In [ ]:
t3(t1)

In [ ]:
t3(t2)

In [ ]:
def t2(*args):   # *args takes 0 to n arguments
    return 'krish', 77, args

In [ ]:
t3(t2)

### Function inside a function

#### Decorator
When festivals we decorate the house with external things but we will not change the home. So the base is same but we will change or modify other things with the help of that function.

Using a function in other function

In [ ]:
def t4():
    print('this is t4')
    
    def t5():
        print('this is t5')
    
    def t6():
        print('this is t6')

In [ ]:
t4()

In [ ]:
#How to call t5 or t6
# local functions so we used if and else
def t4(a):
    print('this is t4')
    
    def t5():
        print('this is t5')
    
    def t6():
        print('this is t6')
    
    if a == 't5':
        return t5()
    elif a == 't6':
        return t6()

In [ ]:
t4('hi')

In [ ]:
t4('t5')

In [ ]:
t4('t6')

In [ ]:
# We cannot call a function like . operand or something

### Function inside a function with func as an argument

In [ ]:
# Decorator concept
# func is function(argument) we have to pass so call a function not str
# we can call t6 by using if and else method
# but here we need to call an inside function with the help of another function.
def t5(func):   # func is nothing but a argument.
    print('hi this is t5')
    def t6():
        print('i am inside t6')
        func()
    return t6()

In [ ]:
# t5 expecting a function
#t5()
#t5('hi')

In [ ]:
# we have to call t6
# so bring external function here we called t2
#t6()  # error

In [ ]:
#base function
def t2(*args):   
    print('i am t2')

In [ ]:
 
def t5(func):  
    #print('hi this is t5')
    def t6():    #just a basic function
        print('i am inside t6')
    return t6()

In [ ]:
# to run the t5 function we need to call a function as an argument
# we have to call a function so here we called t2
# see here with the help of outside function we can call t6
t5(t2)

In [ ]:
# here we removed func as an arugemnt then this function 
#becomes a basic function 

def t5():
    #print('hi this is t5')
    def t6():
        print('i am inside t6')
    return t6()

In [ ]:
t5()

In [ ]:
def t5(func):
    def t6():
        print('i am inside t6')
        func()   # calls t2 which is func = t2()
    return t6()

In [ ]:
# here we are getting 2 returns which is t2 and t6 with the help of t5
t5(t2)

In [ ]:
def t5(func):
    def t6():
        print('i am inside t6 i have to print everytime ')
        func()   # calls t2 which is func = t2()
    return t6()

In [ ]:
def t7():
    print('Hi this is t7')
t7()  # this will execute
# i need t6 also as a outcome when i call t7

In [ ]:
t5(t7)  # call func inside a func this is one way

In [ ]:
# to print t6 in all function we need to use decorator concept.

### Decorator concept

Using a function in other function - reutilize a function  
use @function_name
we can do multiple decorate based on the sequence it will print

In [ ]:
def t5(func):   # func is nothing but a argument.
    print('hi this is t5')
    def t6():
        func()
        #print(func())
        print('i am inside t6')
    return t6

In [ ]:
#outsider function 
# here t2 will be the argument for t5()
@t5    # t5 output will get 
def t2():   
    print('i am t2')

In [ ]:
t2() # here func() will print bcoz of string

In [ ]:
def t5(func):   # func is nothing but a argument.
    print('hi this is t5')
    def t6():
        func()
        print(func())
        print('i am inside t6')
    return t6

In [ ]:
#outsider function 
# here t2 will be the argument for t5()
@t5    # t5 output will get 
def t2():   
    return 5+6

In [ ]:
t2() # here func() will not work so we need to use print
# answer for this will be below.

In [ ]:
#Execution time.
# This is a function which gives tells us how much time it took to run any function.

import time
def exec_time(func):
    def time_time():
        start = time.time()
        func()
        end = time.time()
        print(end-start)
    return  time_time

In [ ]:
# this is another way
# whenever we call t then we get exec_time function.
# it means whenever we call t then exec_time will decorated
# it means exec_time(t())

@exec_time   # Calls Execution time function

def t():
    l1=[]
    for i in range(1000000):
        l1.append(i)
    #print(l1)
    return l1  # will not display l1

In [ ]:
t()  #we do not need to call decorator function here.

In [ ]:
import os
def t5(func):
    def t6():
        print('i am inside t6 i have to print everytime ')
        print(os.getcwd())
        func()   # calls t2 which is func = t2()
    return t6

In [ ]:
# this is another way
#whenever we call t7 then we get t5.
#it means whenever we call t7 then t5 will decorated

@t5  # just add this decorate then we get t5 functions as well
def t7():
    print('Hi this is t7')

In [ ]:
t7()

In [ ]:
import os
def t5(func):
    def t6():
        print('i am inside t6 i have to print everytime ')
        print(os.getcwd())   #current working directory
        func()   
    return t6()   # here i kept () after t6

In [ ]:
@t5  # just add this decorate then we get other functions as weel
def t7():
    print('Hi this is t7')
    
#t7() - here t7 won't work we get direct output bcoz of t6()

In [ ]:
def t8(func):  # input function to run
    def t9():
        func()   # prints t10
        print(os.getcwd())
    return t9

In [ ]:
# multiple decorators 
@t5
@t8
def t10():
    print('hi this is t10')

In [ ]:
t10()

In [ ]:
# Execution time

import time

def measure_time(func):
    def wrapper(*args, **kwargs):
        start = time.time()
        result = func(*args, **kwargs)
        end = time.time()
        print(f"Execution time of {func.__name__}: {end - start:.6f} seconds")
        return result
    return wrapper

In [ ]:
# multiple decorators
@measure_time
@t5
@t8
def t10():
    print('hi this is t10')

In [ ]:
t10()

In [ ]:
# Lower case
def lower_case(funclower):
    def wrapper(*args):
        z = funclower(*args)
        f = z.lower()
        print('Lower is completed')
        return f
    return wrapper

# upper case
def upper_case(funclower):
    def wrapper(*args):
        z = funclower(*args)
        f = z.upper()
        print('upper is completed')
        return f
    return wrapper

# split
def split_fun(funcsplit):
    def wrapper(*args):
        d = funcsplit(*args)
        e = d.split()
        print('split is completed')
        return e
    return wrapper

# Here first lower then split

# Execute in reverse order 
# first lower_case, upper_case, dplit_fun
@split_fun
@upper_case
@lower_case
def q36(a):
    return a

q36('KRISHNA LOHITH')

### Datatypes of function return problem

In [ ]:
def t11(func):   
    #print('hi this is t5')
    def t12():
        print('i am inside t6')
        func()
        print(func())  # we can see the output but gives nonetype.
    return t12

In [ ]:
@t11
def t13():
    c =5+6
    b = 5*4
    return c,b
    #print(c)
    #print('hi this is t13')

In [ ]:
# Both return c and print(c) giving nonetype for t13() when decorator is present.
# Reason is that print(func()) in t11 will gives nonetype
t13()  # we have to use print(func()) to see the output.

In [ ]:
type(t13())

In [ ]:
#t13() + 34

In [ ]:
def t11(func):   
    #print('hi this is t5')
    def t12():
        print('i am inside t6')
        func()
        #print(func())  # we can see the output but gives nonetype.
        return func()  # use return with function_name()
    return t12

In [ ]:
# if we donot use () after return func then the datatype will just function.
# so use () after return func in inner function so it will return the orginal dtype.

In [ ]:
@t11
def t13():
    c =5+6
    #b = 5*4
    return c
    #print(c)
    #print('hi this is t13')

In [ ]:
t13()

In [ ]:
type(t13())

In [ ]:
t13() + 5

### Number of arguments in a base function

In [ ]:
def t11(func):   
    #print('hi this is t5')
    def t12(c,d):
        print('i am inside t6')
        func(c,d)  
        return func(c,d)  
    return t12

In [ ]:
@t11
def t13(a,b):
    return a+b

In [ ]:
t13(3,5)

In [ ]:
def t11(func):   
    #print('hi this is t5')
    def t12(c,d):
        print('i am inside t6')
        func(c,d)  
        return func(c,d)  
    return t12

In [ ]:
@t11
def t13(a,b,c):
    return a+b+c

# we cannot change always a decorator func

In [10]:
#so use *args which is multiple args.
def t11(func):   
    #print('hi this is t5')
    def t12(*args):
        print('i am inside t6')
        #func(*args)  
        return func(*args)
    return t12

In [11]:
@t11
# This is a base function so we need to change this code manually
# but we need not to make any changes in decorator function
def t13(a,b,c):
    return a+b+c

In [12]:
t13(1,2,3)

i am inside t6

6

In [ ]:
@t11
def t14(*args):
    return args

In [ ]:
t14(1,2,3,4,)

In [ ]:
@t11
def t14(**kwargs):
    return kwargs

In [ ]:
t14(a=1, b=2)

In [ ]:
def t11(func):   
    #print('hi this is t5')
    def t12(*args, **kwargs):
        print('i am inside t6')
        func(*args, **kwargs)  
        return func(*args, **kwargs)  
    return t12

In [ ]:
@t11
def t15(*args, **kwargs):
    return args, kwargs

In [ ]:
t15(1,2, a=3,b=4)

## Lamda function - Anonymus function

Without a function name  
Lambda function can't able to give a single value outcome

In [ ]:
def mu(a,b):
    return a*b
mu(2,7)

In [ ]:
n = lambda a,b: (a*b , a+b, a-b)

In [ ]:
n(2,7)

In [ ]:
n = lambda *a: (a+a)

In [ ]:
n(2,3,4,5,6)

In [ ]:
n = lambda *a: a**2
n(2)      #n has a tuple so tuple * tuple won't work.

In [ ]:
n = lambda x: [i for i in x]

In [ ]:
n([2,3,4,5])

In [ ]:
l = [6,7,8,9,0,1,2,3,4]

In [ ]:
n(l)

In [ ]:
a = lambda *args: args

In [ ]:
a(1,2,3,4)

In [ ]:
n = lambda **kwargs: kwargs

In [ ]:
n(a=77, b= 88)

In [ ]:
a = 10  #Global variable - outside the function
def test12(c,d):
    return c*d

In [ ]:
test12(a,5)  # here we already assigned a as 10 so c = a which is c=10

In [ ]:
test12(a,5)

In [ ]:
a = 10
def test13(c,d):
    a=2           # Local variable within the function
    return c*d    # here we are not changing the c we only changed a.

In [ ]:
test13(a,5)   #here a will take the global variable even we assigned local a. bcoz we called a so a = 10.
                #

In [ ]:
a = 10   # global variable 
def test13(c,d):
    c=2        #here we assigned the value locally so c will update
    return c*d

In [ ]:
test13(a,5)  #(2,5)  # here first a = 10. later c is updated to 2. so a= 2. WKT c=a bcoz we called (a,15) which is (c,d)

In [ ]:
c = 10
def test13(c,d):
    c=2
    return c*d

In [ ]:
test13(c,5) #(2,5)  # here first c=10 but later we updated c to 2 and we called c so updated c will be printed

In [ ]:
c

In [ ]:
a = 10  #Global variable - outside the function
def test12(c,d):
    return c*d*a

In [ ]:
test12(4,3)   # here a is updated to 4. in only globally but we can see a is 10 in C*d*a. which is 4*3*10

In [ ]:
l = lambda l: [(i+2,i**2)  for i in l]
l([1,2,3,4,5,6,7,8,9])

In [ ]:
def ql(a):
    l = 1
    for i in a:
        l = l*i
    return l

In [ ]:
ql([1,2,3])

In [ ]:
x = lambda a,l=1: [i*l for i in a]

In [ ]:
x([1,2,3])

In [ ]:
import functools
functools.reduce(lambda a,b:a*b,[1,2,3])

## List comprehensions

In [ ]:
l = [1,2,3,4,5,6,7,8,9]
l = [(i+2,i**2) for i in l if i>2 and i<8]
l

In [ ]:
d = {1:2}

In [ ]:
{i:i**2 for i in range(10)}

In [ ]:
t = (i for i in range(10))

In [ ]:
t

**generator object**  

**Not Iterable:-** Cannot iterate even if we convert. (int, float, bool)

**Itrerable:-** By default the elements are Iterable but they won't iterate which is called as (Not Iterator) then we use for loop, iter() and convert it into iterator or iterable and which we can be access in a sequential manner.

**Not Iterator** :- It means it is an iterable so we can convert using for loop or iter() then it will be Iterator(str,list....)

**Iterator:-** We use for loop, iter() to iterate so these method is called Iterator.  

So we have to convert the element into a iterator using iter(n)  
for loop :- for loop converts a string(which is iterable but not iterable) into iterator.  
without using for loop we can use iter()- which converts into iterator. then use next(variable)    

int is not a iterable so iter(). for loop can't able to convert int to iterable or iterator.  
str, list, tuple, range are iterable objects (not a iterator)  

Iteration(pointer operation):- One by one, will not assign indexes.  
Indexing:- specific index  

next(s)  - Iterates the object   

s = 'krish'
s=iter(s)
next(s)

In [ ]:
a=556
for i in a:
    print(i)   # here int is not iterable so got error

In [ ]:
s='krishna'   #here string is a iterable object(Not iterator)
for i in s:   # here for loop converts not iterator string into iterator. 
    print(i)

In [ ]:
type(s)

In [ ]:
next(s)  #Iterates the object

In [ ]:
iter(s)   # converts iterable into iterator

In [ ]:
i = iter(s)

In [ ]:
next(i)

In [ ]:
next(i)

iterable - an element which we can access in a sequential manner but that doesn't mean we can access it. 
                So we have to convert the element into a iterator using iter(n)

In [ ]:
l = [2,3,4,56]

In [ ]:
next(l)

In [ ]:
c = iter(l)

In [ ]:
next(c)

### Generator object

In [ ]:
list(range(0,10,1))

In [ ]:
# here we used print so the function will be NoneType
def gencube(n):
    for i in range(n):
        print(i,type(i))
gencube(6)

In [ ]:
# here we used return so the function will get original datatype
def gencube(n):
    for i in range(n):
            pass
    return i      #returns only last element.

print(gencube(6))
type(gencube(6))

In [ ]:
def lidata(n):
    l=[]
    for i in range(n):
        l.append(i)
    print(l)
type(lidata(20))

In [ ]:
def lidata(n):
    l=[]
    for i in range(n):
        l.append(i)
    return l
print(lidata(20))
type(lidata(20))

In [ ]:
yeild() - remembers what is the last thing generated, and what is the logic to perform, end value.
So it will not remember all the values like print() 
we get the same result with print but print will give Nonetype so we will use yeild
we can use return and append to get the datatype in the form of list but without a list we can get with yeild.

In [ ]:
def gensqr(n):
    for i in range(n):
        yield i**2

In [ ]:
gensqr(10)

In [ ]:
for i in gensqr(10):
    print(i)

In [ ]:
type(gensqr(10))

In [ ]:
ls

### map function
map(function, *iterables) 
Mapping each and every element in a collection(iterable object) to the given function.

In [ ]:
#for loop, list comprehension
# We can use def
# we can use lambda
# we can use inbuilt functions

In [ ]:
# Add 10 to each element in the list.
l = [1,2,3,4,5,6,7,8]
l1=[]
for i in l:
    l1.append(i+10)
print(l1)

In [ ]:
def suml(a):
    return a+10

In [ ]:
# we can do the same thing in map
l = [1,2,3,4,5,6,7,8]
#map( suml,l)
list(map( suml,l))
# Iterates through l and does the operation which is in the function.

In [ ]:
l = [1,2,3,4,5,6,7,8]

In [ ]:
# we can use this same with lambda function
list(map(lambda a:a+10,l))

In [13]:
l = ['krishna','lohith','Mothukuri']

In [14]:
list(map(lambda a: a.upper(),l))

['KRISHNA', 'LOHITH', 'MOTHUKURI']

In [ ]:
l = [1,2,3,4,5,6,7,8]

In [ ]:
list(map(lambda a: a.upper(),l))

In [ ]:
list(map(str.upper,l))  #string is a function which converts into upper case

In [ ]:
l = ['krishna','lohith','Mothukuri']

In [ ]:
list(map(lambda a: len(a),l))

In [ ]:
list(map(len,l)) #len is a function.

## Filter
Filter returns only True or False.  
Iterates each value in the given collection.  
Takes iterator as a argument for function.  
If the function is true then prints the value.  
If the function is false then it won't return.

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
def even(a):
    a%2==0
    return a

In [ ]:
a = lambda a:a if a%2==0 else None

In [ ]:
list(map(a, l  )) # map mapps with every element so

In [ ]:
list(map(lambda a:a%2==0, l  )) # map mapps with every element so we ggot FAlse

In [ ]:
list(filter(a,l))

In [ ]:
list(filter(lambda a:a%2==0, l  ))

In [ ]:
def fil(a):
    if a%2==0:
        return True
    else:
        return False

In [ ]:
list(filter(fil,l))

In [ ]:
def fil(a):
    if a%2==0:
        return False
    else:
        return True

In [ ]:
list(filter(fil,l))

In [1]:
# sum of list
l = [1,2,3,4,5,6,7,8,9,10]
sum(l)

55

### Reduce
USed for cumulative calculation on an iterable.  
Reduces each iteration. the result will be taken as the first argument.  
Takes only 2 arguments.

In [26]:
from functools import reduce

In [27]:
l = [1,2,3,4,5,6,7,8,9,10]
reduce(lambda a,b: a*b, l)  
# first takes a=1, b=2 result 2 will be in a then b=3

3628800

In [28]:
l = [1,2,3,4,5,6,7,8,9]
reduce(lambda a,b,c: a*b*c, l)

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [8]:
l = [1,2,3,4,5,6,7,8,9]
reduce(lambda a,b,c: a*b*c, l) #we cannot give 3 argurmnts in reduce
#Give only 2 arguments in reduce.

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [12]:
l1 = [7]
reduce(lambda a,b: a*b, l1)

7

## Docstring Notation

Notations are used to itimate the users to understand what type of values we have to give and what will be the output.
->(return value)

In [14]:
def sum_l(a:int,b:int, c=2) ->int:
    return a+b+c

In [16]:
sum_l(2.2,3)

# Here we can pass any other datatype. 
#but we are telling or giving a hint to the to give the best.

7.2

In [25]:
def f_name(a: 'function', b: bool, c:int, d:float )->[int,float]:
    return a,b,c,d

In [24]:
f_name()

TypeError: f_name() missing 4 required positional arguments: 'a', 'b', 'c', and 'd'